In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# opening and reading the file from csv 

churn = pd.read_csv(r'C:\Users\Tracy\Desktop\Class1IR\Machine_LEARNING\lab-cross-validation\files_for_lab\Customer-Churn.csv')

In [3]:
# checking the number of unique value by column

for column in churn.columns:
    unique = len(set(churn[column]))
    print(column,':',unique)

gender : 2
SeniorCitizen : 2
Partner : 2
Dependents : 2
tenure : 73
PhoneService : 2
OnlineSecurity : 3
OnlineBackup : 3
DeviceProtection : 3
TechSupport : 3
StreamingTV : 3
StreamingMovies : 3
Contract : 3
MonthlyCharges : 1585
TotalCharges : 6531
Churn : 2

In [4]:
# hcecking unique value for column 'DeviceProtection'

churn['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [5]:
#one-hot encode columns'

churn = pd.get_dummies(churn, columns=['Contract', 'OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies'])

In [6]:
# replace the data to from categorical to numeriqual

churn.replace(['No', 'Yes', 'Male', 'Female',], [0,1, 0,1], inplace = True)

In [7]:
# fill the nan Value in Total Charges

churn['TotalCharges']=churn['TotalCharges'].fillna(0)

In [8]:
import pandas as pd

# Assuming you have a DataFrame named 'churn'
# Example DataFrame creation (you might have a different method to read your data)
# churn = pd.read_csv('your_dataset.csv')

# Get unique values for each column in the DataFrame
for column in churn.columns:
    unique_values = churn[column].unique()
    
    # Print or use unique values as needed
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'gender': [1 0]
Unique values in 'SeniorCitizen': [0 1]
Unique values in 'Partner': [1 0]
Unique values in 'Dependents': [0 1]
Unique values in 'tenure': [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
Unique values in 'PhoneService': [0 1]
Unique values in 'MonthlyCharges': [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
Unique values in 'TotalCharges': ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Unique values in 'Churn': [0 1]
Unique values in 'Contract_Month-to-month': [ True False]
Unique values in 'Contract_One year': [False  True]
Unique values in 'Contract_Two year': [False  True]
Unique values in 'OnlineSecurity_No': [ True False]
Unique values in 'OnlineSecurity_No internet service': [False  True]
Unique values in 'OnlineSecurity_Yes': [False  True]
Unique values in 'OnlineBackup_No': [False  True]
Unique values in 'OnlineBackup_No internet service': [False  True]
Unique values in 'OnlineBackup_Yes': [ True False]
Unique values in 'DeviceProtection_No': [ True False]
Unique values in 'DeviceProtection_No internet service': [False  True]
Unique values in 'DeviceProtection_Yes': [False  True]
Unique values in 'TechSupport_No': [ True False]
Unique values in 'TechSupport_No internet service': [False  True]
Unique values in 'TechSupport_Yes': [False  True]
Unique values in 'StreamingTV_No': [ True False]
Unique values in 'StreamingTV_No internet service': [False  True]
Unique values in 'StreamingTV_Yes': [False  True]
Unique values in 'StreamingMovies_No': [ True False]
Unique values in 'StreamingMovies_No internet service': [False  True]
Unique values in 'StreamingMovies_Yes': [False  True]

In [9]:
# Identify columns with non-numeric values
non_numeric_columns = churn.select_dtypes(exclude=['number']).columns

# Print unique values in non-numeric columns
for column in non_numeric_columns:
    unique_values = churn[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'TotalCharges': ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
Unique values in 'Contract_Month-to-month': [ True False]
Unique values in 'Contract_One year': [False  True]
Unique values in 'Contract_Two year': [False  True]
Unique values in 'OnlineSecurity_No': [ True False]
Unique values in 'OnlineSecurity_No internet service': [False  True]
Unique values in 'OnlineSecurity_Yes': [False  True]
Unique values in 'OnlineBackup_No': [False  True]
Unique values in 'OnlineBackup_No internet service': [False  True]
Unique values in 'OnlineBackup_Yes': [ True False]
Unique values in 'DeviceProtection_No': [ True False]
Unique values in 'DeviceProtection_No internet service': [False  True]
Unique values in 'DeviceProtection_Yes': [False  True]
Unique values in 'TechSupport_No': [ True False]
Unique values in 'TechSupport_No internet service': [False  True]
Unique values in 'TechSupport_Yes': [False  True]
Unique values in 'StreamingTV_No': [ True False]
Unique values in 'StreamingTV_No internet service': [False  True]
Unique values in 'StreamingTV_Yes': [False  True]
Unique values in 'StreamingMovies_No': [ True False]
Unique values in 'StreamingMovies_No internet service': [False  True]
Unique values in 'StreamingMovies_Yes': [False  True]

In [10]:
churn['TotalCharges'] =  churn['TotalCharges'].replace(' ',0)

In [11]:
# changing data Type of the column 'TotalCharges'

churn['TotalCharges'] = pd.to_numeric(churn['TotalCharges'], errors='coerce').astype(float)

In [12]:
# checking Data Type in the Data Frame

churn.dtypes

gender                                    int64
SeniorCitizen                             int64
Partner                                   int64
Dependents                                int64
tenure                                    int64
PhoneService                              int64
MonthlyCharges                          float64
TotalCharges                            float64
Churn                                     int64
Contract_Month-to-month                    bool
Contract_One year                          bool
Contract_Two year                          bool
OnlineSecurity_No                          bool
OnlineSecurity_No internet service         bool
OnlineSecurity_Yes                         bool
OnlineBackup_No                            bool
OnlineBackup_No internet service           bool
OnlineBackup_Yes                           bool
DeviceProtection_No                        bool
DeviceProtection_No internet service       bool
DeviceProtection_Yes                       bool
TechSupport_No                             bool
TechSupport_No internet service            bool
TechSupport_Yes                            bool
StreamingTV_No                             bool
StreamingTV_No internet service            bool
StreamingTV_Yes                            bool
StreamingMovies_No                         bool
StreamingMovies_No internet service        bool
StreamingMovies_Yes                        bool
dtype: object

In [13]:
# separating the value to get the target value vs the rest of the data frame as x

Y = churn['Churn']
X = churn.drop('Churn', axis=1)

In [14]:
# perform SMOTE model  to be able to balance the data equally

from imblearn.over_sampling import SMOTE

smote = SMOTE() #opening the model


x_sm, y_sm = smote.fit_resample(X,Y)
y_sm.value_counts()

Churn
0    5174
1    5174
Name: count, dtype: int64

In [15]:
# preforming Xtrain atest split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_sm, y_sm, random_state = 42, test_size= 0.2)

In [16]:

# fitting a logistic regression and roudn the resukt 
# checking the accuracy of the model
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(X_train,y_train)
result = LR.score(X_test,y_test) 
print("The accuracy of the model is = ", round(result,2))

The accuracy of the model is =  0.83

In [17]:
# same with decision tree now
# checking the accuracy of the model and it sthe same for both model

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth = 7)
model.fit(X_train, y_train)

result = model.score(X_test,y_test) 
print("The accuracy of the model is = ", round(result,2))

The accuracy of the model is =  0.82

Apply TomekLinks for downsampling

It is important to remember that it does not make the two classes equal but only removes the points from 
the majority class that are close to other points in minority class.
Use logistic regression to fit the model and compute the accuracy of the model.
Use decision tree classifier to fit the model and compute the accuracy of the model.
Compare the accuracies of the two models.
You can also apply this algorithm one more time and check the how the imbalance in the two classes changed 
from the last time.

In [18]:
# Using TomekLinks to separate the data and remove the occurence of the majority class if they are close from each other

from imblearn.under_sampling import TomekLinks

tl = TomekLinks()

x_tl, y_tl = tl.fit_resample(X,Y)
y_tl.value_counts()

Churn
0    4606
1    1869
Name: count, dtype: int64

In [19]:
# Now splitting the data again using the Data from Tomek link

X_train, X_test, y_train, y_test = train_test_split(x_tl, y_tl, random_state = 42, test_size= 0.2)

In [20]:
#performing again the logistic regression

LR = LogisticRegression()
LR.fit(X_train,y_train)
result = LR.score(X_test,y_test) 
print("The accuracy of the model is = ", round(result,2))

The accuracy of the model is =  0.8

In [21]:
#performing again the decision tree and apparently for both model the accurancy is less after Tomek Link

model = DecisionTreeClassifier(max_depth = 7)
model.fit(X_train, y_train)

result = model.score(X_test,y_test) 
print("The accuracy of the model is = ", round(result,2))

The accuracy of the model is =  0.8

# For this lab, you will be using the CSV files provided in the files_for_lab folder.

Instructions
Apply the Random Forests algorithm but this time only by upscaling the data using SMOTE.
Note that since SMOTE works on numerical data only, we will first encode the categorical variables in this case.

In [23]:
# lets  oversample the train data

# separating the value to get the target value vs the rest of the data frame as x

Y = churn['Churn']
X = churn.drop('Churn', axis=1)

In [24]:
# perform SMOTE model  to be able to balance the data equally

from imblearn.over_sampling import SMOTE

smote = SMOTE() #opening the model


x_sm, y_sm = smote.fit_resample(X,Y)
y_sm.value_counts()

Churn
0    5174
1    5174
Name: count, dtype: int64

In [27]:
# Concat the data to train the model with the train_oversampled data
train_SMOTE = pd.concat([x_sm, y_sm], axis = 1)

train_SMOTE

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MonthlyCharges,TotalCharges,Contract_Month-to-month,Contract_One year,...,TechSupport_No,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Churn
0,1,0,1,0,1,0,29.850000,29.850000,True,False,...,True,False,False,True,False,False,True,False,False,0
1,0,0,0,0,34,1,56.950000,1889.500000,False,True,...,True,False,False,True,False,False,True,False,False,0
2,0,0,0,0,2,1,53.850000,108.150000,True,False,...,True,False,False,True,False,False,True,False,False,1
3,0,0,0,0,45,0,42.300000,1840.750000,False,True,...,False,False,True,True,False,False,True,False,False,0
4,1,0,0,0,2,1,70.700000,151.650000,True,False,...,True,False,False,True,False,False,True,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10343,0,0,0,0,1,1,45.119880,45.119880,True,False,...,True,False,False,True,False,False,True,False,False,1
10344,0,0,1,0,36,1,82.320595,3018.329742,True,True,...,True,False,False,True,False,True,False,False,True,1
10345,1,0,0,0,58,1,107.756770,6143.211374,False,True,...,True,False,False,False,False,True,False,False,True,1
10346,0,0,0,0,58,1,106.722867,6252.469746,True,True,...,False,False,True,False,False,True,True,False,True,1
10347,0,0,0,0,1,1,95.391788,95.391788,True,False,...,True,False,False,False,False,True,False,False,True,1

In [29]:
# Define the X and the y of the oversampled train data
# and train the data  with random forest
X_train_SMOTE = train_SMOTE.drop(['Churn'], axis = 1)
y_train_SMOTE = train_SMOTE['Churn']

from sklearn.ensemble import RandomForestClassifier
# training Data with random forest
clf = RandomForestClassifier(n_estimators = 50, max_depth = 7, random_state = 42)
clf.fit(X_train_SMOTE, y_train_SMOTE)

print(clf.score(X_train_SMOTE, y_train_SMOTE))
print(clf.score(X_test, y_test))

0.8400657131812911
0.8458937198067633

In [30]:
from sklearn.model_selection import GridSearchCV
# Lets Tune the hyperparameters

param_grid = {'n_estimators': [50, 100, 200],
              'max_depth': [2, 4, 7],
              'min_samples_split': [2,4],
              'min_samples_leaf': [1,2]}

# secondly define the model you wnat 
clf = RandomForestClassifier(random_state = 42)
grid_search = GridSearchCV(clf, param_grid, cv=5, return_train_score=True, n_jobs = -1 )
# cv is the crosso validation 
# return train score, should be true to cheeck for overfitting
# this parrt was loading for a long time
grid_search.fit(X_train_SMOTE, y_train_SMOTE)
grid_search.best_params_

{'max_depth': 7,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 50}

In [31]:
# Build a model of Random forest with the best hyperparameters
clf = RandomForestClassifier(n_estimators = 50, max_depth = 7, random_state = 42)
clf.fit(X_train_SMOTE, y_train_SMOTE)

print(clf.score(X_train_SMOTE, y_train_SMOTE))
print(clf.score(X_test, y_test))

# the output is the same as the first output meaning we had already the best paramater to train our model

0.8400657131812911
0.8458937198067633